<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorator="shared/layout">

<head>
    <title>Yelp Role Management</title>
    <link rel="stylesheet" th:href="@{/kendoui/css/kendo.common-material.min.css}" />
    <link rel="stylesheet" th:href="@{/kendoui/css/kendo.material.min.css}" />
    <link rel="stylesheet" th:href="@{/kendoui/css/kendo.material.mobile.min.css}" />

</head>
<body>
<!-- Content Wrapper. Contains page content -->
<div layout:fragment="content" class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Role Create
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Role</a></li>
            <li class="active">create</li>
            <li><a class="btn btn-default" th:href="@{/role/index}" role="button">返回</a></li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <!-- Main row -->
        <div class="row">
            <div class="col-lg-12 col-xs-12">
                <div id="item-form">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Name</label>
                            <div class="col-sm-10">
                                <input type="text" style="width: 300px;" id="name" placeholder="" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Foreign Name</label>
                            <div class="col-sm-10">
                                <input type="text" style="width: 300px;"  class="short-input" id="foreignName" placeholder="" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">releaseDate</label>
                            <div class="col-sm-10">
                                <input type="text" style="width: 300px;"  class="short-input" id="releaseDate" placeholder="" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">minutes</label>
                            <div class="col-sm-10">
                                <input type="text" style="width: 300px;"  class="short-input" id="minutes" placeholder="" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">discountPrice</label>
                            <div class="col-sm-10">
                                <input type="text" style="width: 300px;"  class="short-input" id="discountPrice" placeholder="" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">releaseRegion</label>
                            <div class="col-sm-10">
                                <input type="text" style="width: 300px;"  class="short-input" id="releaseRegion" placeholder="" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">spaceType</label>
                            <div class="col-sm-10">
                                <input type="text" style="width: 300px;"  class="short-input" id="spaceType" placeholder="" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">coverUri</label>
                            <div class="col-sm-10">
                                <input type="text" style="width: 300px;"  class="short-input" id="coverUri" placeholder="" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">description</label>
                            <div class="col-sm-10">
                                <input type="text" style="width: 300px;"  class="short-input" id="description" placeholder="" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">language</label>
                            <div class="col-sm-10">
                                <input type="text" style="width: 300px;"  class="short-input" id="language" placeholder="" />
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button id="submitButton" type="button"  onclick="javascript:return createSubmit();"
                                        class="btn btn-default">Submit</button>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <span id="validate-message-ok" style="color: green;"></span>
                                <span id="validate-message-error" style="color: red;"></span>
                            </div>
                        </div>
                    </form>


                </div>
            </div>
        </div>
        <!-- /.row (main row) -->

    </section>
    <!-- /.content -->
</div>
<th:block layout:fragment="scriptsblock">
    <script th:inline="javascript">

        function createSubmit() {
            var name =$("#item-form input#name").val();
            var foreignName =$("#item-form input#foreignName").val();
            var releaseDate =$("#item-form input#releaseDate").val();
            var minutes =$("#item-form input#minutes").val();
            var discountPrice =$("#item-form input#discountPrice").val();
            var releaseRegion =$("#item-form input#releaseRegion").val();
            var spaceType =$("#item-form input#spaceType").val();
            var coverUri =$("#item-form input#coverUri").val();
            var description =$("#item-form input#description").val();
            var language =$("#item-form input#language").val();

            var createUrl = config.businessBaseUrl + "/web/movie/create";
            var detailUrl = "/movie/detail";


            // $.post(createUrl, { name: name,
            //         foreignName: foreignName,
            //         releaseDate: releaseDate,
            //         minutes : minutes,
            //         discountPrice : discountPrice,
            //         releaseRegion : releaseRegion,
            //         spaceType : spaceType,
            //         coverUri : coverUri,
            //         description : description,
            //         language : language
            //     },
            //     function(response){
            //         $("#validate-message-ok").html("");
            //         $("#validate-message-error").html("");
            //         if(response.code == 0)
            //         {
            //             $("#validate-message-ok").html(response.message);
            //             window.location.href = detailUrl + "?movieId=" + response.data;
            //             return;
            //         }
            //
            //         $("#validate-message-error").html(response.message);
            //         $("#submitButton").removeAttr("disabled");
            //
            //     }, "json");


            $.ajax(createUrl, {
                method : "POST",
                data: { name: name,
                    foreignName: foreignName,
                    releaseDate: releaseDate,
                    minutes : minutes,
                    discountPrice : discountPrice,
                    releaseRegion : releaseRegion,
                    spaceType : spaceType,
                    coverUri : coverUri,
                    description : description,
                    language : language
                },
                headers:{
                    "Authorization" :  window.sessionStorage.getItem("token")
                },
                success : function (response){
                    $("#validate-message-ok").html("");
                    $("#validate-message-error").html("");
                    if(response.code == 0)
                    {
                        $("#validate-message-ok").html(response.message);
                        window.location.href = detailUrl + "?movieId=" + response.data;
                        return;
                    }

                    $("#validate-message-error").html(response.message);
                    $("#submitButton").removeAttr("disabled");

                },
                error  : function (response) {
                    handResponseStatus(response);
            }});


            return false;
        }
    </script>
</th:block>
</body>
</html>