<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorator="shared/layout">

<head>
    <title>Yelp Role Management</title>
    <link rel="stylesheet" th:href="@{/kendoui/css/kendo.common-material.min.css}" />
    <link rel="stylesheet" th:href="@{/kendoui/css/kendo.material.min.css}" />
    <link rel="stylesheet" th:href="@{/kendoui/css/kendo.material.mobile.min.css}" />
</head>
<body>
<!-- Content Wrapper. Contains page content -->
<div layout:fragment="content" class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Staff Detail
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>Staff</a></li>
            <li class="active">detail</li>
            <li><a class="btn btn-default" th:href="@{/staff/index}" role="button">返回</a></li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <!-- Main row -->
        <div class="row">
            <div class="col-lg-12 col-xs-12">
                <div id="item-detail">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Login Name</label>
                            <div class="col-sm-10">
                                <span id="loginName"  class="checkbox"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Real Name</label>
                            <div class="col-sm-10">
                                <span id="realName"  class="checkbox"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Mobile</label>
                            <div class="col-sm-10">
                                <span id="mobile" class="checkbox"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Status</label>
                            <div class="col-sm-10">
                                <span id="status" class="checkbox"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Access Failed Count</label>
                            <div class="col-sm-10">
                                <span id="accessFailedCount" class="checkbox"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Last Login Time</label>
                            <div class="col-sm-10">
                                <span id="lastLoginTime" class="checkbox"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Create Time</label>
                            <div class="col-sm-10">
                                <span id="createTime" class="checkbox"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Update Time</label>
                            <div class="col-sm-10">
                                <span id="updateTime" class="checkbox"></span>
                            </div>
                        </div>


                    </form>


                </div>
            </div>
        </div>
        <!-- /.row (main row) -->

    </section>
    <!-- /.content -->
</div>
<th:block layout:fragment="scriptsblock">
    <script th:src="@{/site/func.js}"></script>
    <script th:inline="javascript">

        var staffId = getQueryString("staffId");
        var apiUrl = config.businessBaseUrl + "/web/staff/get?staffId=" + staffId;
        $(document).ready(function() {
            // $.getJSON(apiUrl, null, function (response) {
            //     if(!response.success)
            //     {
            //         $("#item-detail #name").html(response.message);
            //     }
            //     var item = response.data;
            //     $("#item-detail #loginName").html(item.loginName);
            //     $("#item-detail #realName").html(item.realName);
            //     $("#item-detail #mobile").html(item.mobile);
            //     $("#item-detail #status").html(item.status);
            //     $("#item-detail #accessFailedCount").html(item.accessFailedCount);
            //     $("#item-detail #lastLoginTime").html(item.lastLoginTime);
            //     $("#item-detail #createTime").html(item.createTime);
            //     $("#item-detail #updateTime").html(item.updateTime);
            // });

            $.ajax({
                type: "GET",
                url: apiUrl,
                headers: { "Authorization" :  window.sessionStorage.getItem("token")},
                dataType: "json",
                success: function(response){
                    if(!response.success)
                    {
                        $("#item-detail #name").html(response.message);
                    }
                    var item = response.data;
                    $("#item-detail #loginName").html(item.loginName);
                    $("#item-detail #realName").html(item.realName);
                    $("#item-detail #mobile").html(item.mobile);
                    $("#item-detail #status").html(item.status);
                    $("#item-detail #accessFailedCount").html(item.accessFailedCount);
                    $("#item-detail #lastLoginTime").html(item.lastLoginTime);
                    $("#item-detail #createTime").html(item.createTime);
                    $("#item-detail #updateTime").html(item.updateTime);
                },
                error  : function (response) {
                    handResponseStatus(response);
                }
            });

        });
    </script>
</th:block>
</body>
</html>